@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    justify-items: center;
    align-items: center;
    background: rgb(174, 93, 255);
}
